{% extends "/layout/smart_layout.html.twig" %}
{% block body %}
    <div class="login-box">
        <div class="login-logo">
            <a href="{{ path('account_login') }}"><b>{{ settings.siteName }}</b></a>
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">Заявка за нова парола</p>

            <!--box for response-->
            <div class="alert alert-dismissable messages {% if error %}alert-danger{% endif %}" {% if not error %}style="display: none;"{% endif %} >
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <p class="message_text">{% if error %}{{ error }}{% endif %}</p>
            </div>

            <!-- include form -->
            {% if not request  %}
                {% include 'account/forms/forgot_password.html.twig' %}
            {% else %}
                {% include 'account/forms/new_password.html.twig' %}
            {% endif %}

        </div>
    </div>
{% endblock %}