{% extends '/layout/layout.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
            <!---edit profile form -->
            {% include 'services/forms/service_add_form.html.twig' %}
            <!---/end profile form -->

        </div>
    </div>
</div>
{% endblock %}

