<div class="table_search_box">
    <form method="get">
        <div class="input-group input-group-sm">
            <input type="text" class="form-control" name="search">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-info btn-flat">Търси</button>
            </span>
        </div>
    </form>
</div>
