<form  method="post" id="forgot_password">
    <div class="form-group has-feedback">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <input type="text" class="form-control" placeholder="Email" name="email" data-msg-email="Въведеният емейл адрес не е валиден" data-msg-required="Това поле е задължително"/>
    </div>
    <div class="row">
        <div class="col-xs-6 pull-right">
            <button class="btn btn-primary btn-block btn-flat">Нова парола</button>
        </div><!-- /.col -->
    </div>
    <a href="{{ path('account_login') }}">Вход</a>
</form>