<form  method="post" id="new_password">
    <input type="hidden" class="form-control" name="request_key" value="{{ request.requestKey}}"/>
    <div class="form-group has-feedback">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <input type="password" class="form-control" placeholder="Парола" name="password" data-msg-required="Това поле е задължително" data-msg-minlength="Паролата трябва да бъде минимум 8 символа"/>
    </div>
    <div class="form-group has-feedback">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <input type="password" class="form-control" placeholder="Повтори паролата" name="password_repeat" data-msg-required="Това поле е задължително" data-msg-minlength="Паролата трябва да бъде минимум 8 символа"/>
    </div>
    <div class="row">
        <div class="col-xs-6 pull-right">
            <button class="btn btn-primary btn-block btn-flat">Смени паролата</button>
        </div><!-- /.col -->
    </div>
    <a href="{{ path('account_login') }}">Вход</a>
</form>